#sideMenu {
    position: absolute;
    top: 20%;
    left: 0;
    width: 8%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-family: var(--artistic-font);
    font-size: 1.2rem;
    color: var(--dark-color);
}

#sideMenu ul {
    list-style: none;
}

#sideMenu ul li {
    padding: 5px;
    text-align: center;
    transition: 300ms all;
    border-radius: 10px;
}

#sideMenu ul li:hover {
    cursor: pointer;
    background-color: var(--light-color);
    color: white;
}

#sideMenu ul li:nth-child(3) {
    margin-top: 20px;
    border: 1px solid ;
}