header {
  border-radius: 6px;
  height: 94vh;
  padding: 20px;
  display: flex;
  align-items: center;
}

#logo {
  width: 60%;
  font-family: var(--artistic-font);
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  padding-right: 40px;
  padding-left: 40px;
}

#logo .logoElements {
  display: block;
  width: 100%;
  font-size: 8rem;
}

.logoElements:nth-child(1){
  text-align: start;
}

.logoElements:nth-child(2){
  text-align: end;
  margin-top: -80px;
}

nav {
  width: 40%;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul li {
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: var(--artistic-font);
  transition: 300ms all;
  width: 35%;
  padding: 5px;
}

ul li:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}
