:root {
  --dark-color: #f86f2a;
  --medium-color: #f7722f;
  --light-color: #ffaf87;
  --artistic-font: "New Tegomin", serif;
  --info-font: "maitree", serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  padding: 10px;
  background: linear-gradient(var(--dark-color), var(--light-color));
  background-repeat: no-repeat;
  overflow: hidden;
}