@import url('./pages/home.css');
@import url('./components/sideMenu.css');

:root {
  --dark-color: #f86f2a;
  --medium-color: #f7722f;
  --light-color: #ffaf87;
  --artistic-font: "New Tegomin", serif;
  --info-font: "maitree", serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 10px;
  background: linear-gradient(var(--dark-color), var(--light-color));
  background-repeat: no-repeat;
}

h2 {
  color: white;
  font-family: var(--artistic-font);
  font-size: 2.3rem;
}

.accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: var(--medium-color);
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}